@model TTH.LTQL.Models.TRINHDO_CM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TRINHDO_CM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TDCM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TDCM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TDNN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TDNN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.STT }) |
    @Html.ActionLink("Back to List", "Index")
</p>
