@model IEnumerable<TTH.LTQL.Models.TRINHDO_CM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenNV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaNV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TDCM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TDNN)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenNV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaNV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TDCM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TDNN)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.STT }) |
            @Html.ActionLink("Details", "Details", new { id=item.STT }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.STT })
        </td>
    </tr>
}

</table>
