<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/ckeditor")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Đăng nhập", "Login", "Account")</li>
                    <li>@Html.ActionLink("Đăng xuất", "Logoff", "Account")</li>
                    <li>@Html.ActionLink("Nhân viên", "Index", "NHANVIENs")</li>
                    <li>@Html.ActionLink("Thông tin", "Index", "THONGTINs")</li>
                    <li>@Html.ActionLink("Chức vụ", "Index", "CHUCVUs")</li>
                    <li>@Html.ActionLink("phòng ban", "Index", "PHONGBANs")</li>
                    <li>@Html.ActionLink("dự án", "Index", "DUANs")</li>
                    <li>@Html.ActionLink("bảng lương", "Index", "BANGLUONGs")</li>
                    <li>@Html.ActionLink("bảng cc", "Index", "BANGCHAMCONGs")</li>
                    <li>@Html.ActionLink("KT-KL", "Index", "KHENTHUONG_KYLUATs")</li>
                    <li>@Html.ActionLink("TĐ-CM", "Index", "TRINHDO_CMs")</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
